@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

#root{
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}

.sidebar img{
  width: 20px;;
}
.sidebar .bottom-item{
  padding-right: 10px;
  cursor: pointer;
}
.sidebar .recent{
  animation: fadeIn 1.5s;
}

.main .greet span{
  background: -webkit-linear-gradient(16deg,#4b90ff, #ff5546 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .cards{
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr) );
  
}

.result::-webkit-scrollbar {
  display: none;
}

.loader hr{
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff );
  background-size: 800px 50px ;
  height: 20px;
  animation: loader 3s infinite linear;
}
@keyframes loader{
  0%{
    background-position: -800px 0px;

  }
  100%{
    background-position: 800px 0px;
  }
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;

  }

}

@media (max-width: 600px){
  .sidebar{
    display: none;
  }
  .main-bottom input{
    flex: none;
    width: 150px;

  }
  .main-bottom img{
    width: 20px;
  }
  .search-box{
    padding: 5px 10px;
  }
  .search-box div{
    gap: 5px;
  }
}
